<div class="intro-header" style="background: url('/../..{{event.banner_picture}}');background-size: cover">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h4 class="date-titre">
                        <ff translate>Le</ff>
                        {{event.date_debut}}
                        <ff translate>à</ff>
                        {{event.adress.name}}
                    </h4>
                    <h1>{{event.name}}</h1>
                    <h4 ng-if="event.organizer!=undefined">
                        <ff translate>Par</ff>
                        : {{event.organizer.name}}
                    </h4>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container -->
    <div class="clearfix"></div>
    <div class="container">
        <div class="row" style="margin-bottom: 0 !important;">
            <div class="col-lg-12" style="padding-left: 0;padding-right: 0px">
                <div class="listing clearfix">
                    <div class="col-lg-6" style="margin-top: 10px">
                        <a title="Sauvegarder" style="margin-right: 5px"><i class="fa fa-bookmark-o fa-2x"></i></a>
                        <!--<a title="Partager" ng-click="interest(e)"><i class="fa fa-share-alt fa-2x"></i></a>-->
                    </div>
                    <div class="col-lg-6" style="text-align: right">
                        <div class="btn-white" ng-repeat="t in event.tickets">{{t.amount}} <span ng-if="t.amount!=undefined">Fcfa</span><span ng-if="t.amount==undefined" translate>Gratuit</span></div>
                        <button class="btn btn-main btn-green" data-toggle="modal" href="/#inscriptionModal" translate>
                            S'inscrire
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="detail">
    <div class="container description">
        <div class="row-fluid">
            <div class="col-lg-8">
                <dl>
                    <dt translate>DESCRIPTION</dt>
                    <dd>
                        <p ng-bind-html="event.description"></p>
                    </dd>
                </dl>
                <dl>
                    <dt translate>TAGS</dt>
                    <dd>
                        <section>
                            <span>
                                <a ui-sref="events({target:event.event_topic.name})" class="badge">{{event.event_topic.name}}</a>
                            </span>
                            <span>
                                <a ui-sref="events({target:event.event_type.name})" class="badge">{{event.event_type.name}}</a>
                            </span>
                        </section>
                    </dd>
                </dl>
            </div>

            <div class="col-lg-4">
                <dl>
                    <dt translate>DATE ET HEURE</dt>
                    <dd>
                        <ff translate>du</ff>
                        <strong>{{event.date_debut}}</strong>
                        <ff translate>au</ff>
                        <strong>{{event.date_fin}}</strong></dd>
                </dl>

                <dl>
                    <dt translate>ADRESSE</dt>
                    <dd>{{event.adress.post_box}} {{event.adress.name}}</dd>
                    <dd>{{event.adress.street}}</dd>
                    <dd>{{event.town.name}}</dd>
                    <dd>{{event.town.country.name}}</dd>

                </dl>
            </div>

        </div>
        <div class="clearfix"></div>

        <!--Détails sur l'organisateur-->
        <div class="row-fluid">
            <div class="col-lg-12">
                <div class="text-center">
                    <div class="divider"></div>
                    <h3 class="bold">{{event.organizer.name}}</h3>
                    <div>
                        <ff translate>Organisateur de</ff>
                        <strong>{{event.name}}</strong></div>
                    <div class="image">
                        <img src="{{event.organizer.image}}" alt="" title="{{event.organizer.name}}"/>
                    </div>
                    <p style="text-align: left;margin-top: 10px;" ng-bind-html="event.organizer.description">

                    </p>
                    <p class="option">
                        <!--<a ui-sref="profil{{event.organizer.name}}"><i class="fa fa-navicon"></i>-->
                            <!--<ff translate>Profil</ff>-->
                        <!--</a>-->
                        <a href="mailto:{{event.organizer.email}}"><i class="fa fa-envelope-o"></i>
                            <ff translate>Contactez</ff>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <!--Carte-->
    </div>
    <div class="clearfix"></div>
    <!--<div class="container">-->
        <!--<div id="map"></div>-->
        <!--<div id="map_canvas"></div>-->
    <!--</div>-->
</section>

<div class="modal fade" id="inscriptionModal" tabindex="-1" role="dialog" aria-labelledby="Agent" aria-hidden="true">
    <div class="modal-dialog" style="width: 40%;margin-top: 10%">
        <div class="modal-content">
            <div class="modal-header" style="background: #EFF2F5">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center text-uppercase bold" translate>S'inscrire</h4>
            </div>
            <form ng-submit="acheterBillet(event.tickets)">
                <div class="modal-body" style="background: #F8F8FA">
                    <p>Fin de la vente le {{event.date_fin}}</p>
                    <div class="select">
                        <div class="row" ng-repeat="t in event.tickets">
                            <div class="col-lg-9">
                                {{t.name}} | {{t.amount}} Fcfa<br/>
                                <span class="text-uppercase blue" ng-if="t.qte>0">{{t.amount*t.qte}} Fcfa</span>

                            </div>
                            <div class="col-lg-3">
                                <input type="number" min="1" max="{{t.max_command}}" ng-model="t.qte"
                                       class="form-control"/>
                            </div>
                            <div class="col-lg-12">
                                <ff translate>Mode de paiement</ff> : <span class="blue">{{mode}}</span>
                            </div>
                        </div>
                        <div class="row hide">
                            <div class="col-lg-12">
                                <ff translate>Mode de paiement</ff><br/>
                                <select ng-model="mode_paiement"  class="form-control"
                                        ng-options="m.id_mode as m.name for m in mode"
                                        >
                                    <option value="" disabled><ff translate>Mode de paiement</ff></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer left">
                    <div class="row">
                        <div class="col-lg-4 pull-right" style="text-align: right">
                            <button type="submit" class="btn btn-main btn-green" translate>Compléter</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyByV_jQXlpxJrBLpyEUSr2aV3wmIV4hawg&sensor=false"></script>-->
<!--<script src="js/app_js/x.js"></script>-->
<!--<script>console.log("e");initMap();</script>-->