<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h4 class="date-titre">Le {{event.date_debut}} à {{event.adresse.ville}}</h4>
                    <h1>{{event.titre}}</h1>
                    <h4>Par :{{event.organisateur.nom}} </h4>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container -->
    <div class="clearfix"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="padding-left: 0;padding-right: 0px">
                <div class="listing clearfix">
                    <div class="col-lg-6" style="margin-top: 10px">
                        <a href="#" title="Sauvegarder" style="margin-right: 5px"><i class="fa fa-bookmark-o fa-2x"></i></a>
                        <a href="#" title="Partager"><i class="fa fa-share-alt fa-2x"></i></a>
                    </div>
                    <div class="col-lg-6" style="text-align: right">
                        <div class="btn-white">Gratuit</div>
                        <button class="btn btn-main btn-green" data-toggle="modal" href="/#inscriptionModal">S'inscrire</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="detail">
    <div class="container description">
        <div class="row-fluid">
            <div class="col-lg-9">
                <dl>
                    <dt>DESCRIPTION</dt>
                    <dd>
                        <p>{{event.description}}</p>
                    </dd>
                </dl>
                <dl>
                    <dt>TAGS</dt>
                    <dd>
                        <section>
                            <span>
                                <a ui-sref="events({target:event.confidentialite.theme})" class="badge">{{event.confidentialite.theme}}</a>
                            </span>
                            <span>
                                <a ui-sref="events({target:event.confidentialite.type_evenement})" class="badge">{{event.confidentialite.type_evenement}}</a>
                            </span>
                        </section>
                    </dd>
                </dl>
            </div>

            <div class="col-lg-3">
                <dl>
                    <dt>DATE ET HEURE</dt>
                    <dd>{{event.date_debut}}-{{event.date_fin}}</dd>
                </dl>

                <dl>
                    <dt>ADRESSE</dt>
                    <dd>{{event.adresse.boite_postale}} {{event.adresse.adresse}}</dd>
                    <dd>{{event.adresse.rue}}</dd>
                    <dd>{{event.adresse.ville}}</dd>
                    <dd>{{event.adresse.pays}}</dd>

                </dl>
            </div>

        </div>
        <div class="clearfix"></div>

        <!--Détails sur l'organisateur-->
        <div class="row-fluid">
            <div class="col-lg-12">
                <div class="text-center">
                    <div class="divider"></div>
                    <h3 class="bold">{{event.organisateur.nom}}</h3>
                    <div>Organisateur de {{event.titre}}</div>
                    <div class="image">
                        <img src="{{event.organisateur.image}}" alt="" title="{{event.organisateur.image}}"/>
                    </div>
                    <p style="text-align: left;margin-top: 10px;">
                        {{event.organisateur.description}}
                    </p>
                    <p class="option">
                        <a ui-sref="{{event.organisateur.lien}}"><i class="fa fa-navicon"></i> Profil</a>
                        <a ui-sref="{{event.organisateur.email}}"><i class="fa fa-envelope-o"></i> Contactez</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <!--Carte-->
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <div id="map"></div>
        <div id="map_canvas"></div>
    </div>
</section>

<div class="modal fade" id="inscriptionModal" tabindex="-1" role="dialog" aria-labelledby="Agent" aria-hidden="true">
    <div class="modal-dialog" style="width: 40%;margin-top: 10%">
        <div class="modal-content">
            <div class="modal-header" style="background: #EFF2F5">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center text-uppercase bold">S'inscrire</h4>
            </div>
            <div class="modal-body" style="background: #F8F8FA">
                <p>Fin de la vente le {{event.date_fin}}</p>
                <div class="select">
                    <div class="row">
                        <div class="col-lg-9">
                            Participant <br/>
                            <span class="text-uppercase">{{event.billets[0].type}}</span>
                        </div>
                        <div class="col-lg-3">
                            <input type="number" min="1" max="{{event.billets[0].commande}}" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer left">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="btn-white">Qté : {{commande.nombre_billet}}</div>
                    </div>
                    <div class="col-lg-4">
                        <div class="btn-white">{{event.billets[0].type}}</div>
                    </div>
                    <div class="col-lg-4" style="text-align: right">
                        <button class="btn btn-main btn-green">Compléter</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyByV_jQXlpxJrBLpyEUSr2aV3wmIV4hawg&sensor=false"></script>-->
<!--<script src="js/app_js/x.js"></script>-->
<script>console.log("e");initMap();</script>