<section id="create">
    <div class="container">
        <div class="row no-padding">
            <div class="col-lg-6 col-sm-6">
                <h1 class="title" translate>Créer un événement</h1>
            </div>
            <div class="col-lg-6 col-sm-6" style="margin-top: 3%; text-align: right;">
                <button class="btn btn-main btn-reverse" translate>Sauvegarde</button>
                <button class="btn btn-main btn-reverse" translate>Apercu</button>
                <button class="btn btn-main btn-green" translate>Publier événement</button>
            </div>
        </div>
    </div>

    <div class="banner">
        <div class="container" style="padding-left: 0px">
            <div class="choice active" ng-click="option='modifier'" ng-class="{'active':option=='modifier'}" translate>
                Modifier
            </div>
            <div class="choice" ng-click="option='visualisation'" ng-class="{'active':option=='visualisation'}"
                 translate>
                Design
            </div>
        </div>
    </div>

    <form ng-if="option=='modifier'" ng-submit="enregistrerEvenement(e)">
        <div class="container">
            <!--Premiere partie : description de l'événement-->
            <div class="row" style="margin-top: 25px; margin-left: 33px">
                <div class="col-lg-10 col-sm-10 col-md-10 " style="border-bottom: 1px solid #e7e7e7; padding: 0">
                    <h2><span class="number main">1</span>
                        <ff translate>Description de l'événement</ff>
                    </h2>
                </div>
                <div class="clear-fix"></div>

                <div class="col-lg-9 col-sm-9" style="margin-top: 20px">
                    <div class="form-group">
                        <label for="nom">
                            <ff translate>Non de l'événement</ff>
                            <span class="requis">*</span></label>
                        <input type="text" id="nom" ng-model="e.titre" placeholder="Donnez un titre court et distinctif" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="adresse" translate>Adresse </label>
                        <input type="text" id="adresse" ng-model="e.adresse.lieu" placeholder="Précisez où il est organisé" class="form-control"/>
                        <div>
                            <a ng-click="lieu='ligne'"><i class="fa fa-globe"></i>
                                <ff translate>Evenement en ligne</ff>
                            </a>
                            &nbsp;
                            <a ng-click="lieu='adresse'"><i class="fa fa-globe"></i>
                                <ff translate>Veuillez saisir l'adresse</ff>
                            </a>
                        </div>

                        <div class="row" style="margin-top: 10px" ng-if="lieu=='adresse'">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <input type="text" ng-model="e.adresse.adresse1" placeholder="Adresse 1" class="form-control"/>
                                    <input type="text" ng-model="e.adresse.adresse2" placeholder="Adresse 1" class="form-control"/>
                                    <input type="text" ng-model="e.adresse.ville" placeholder="Ville" class="form-control"/>

                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6">
                                            <input type="text" ng-model="e.adresse.region" placeholder="Région" class="form-control"/>
                                        </div>
                                        <div class="col-lg-6 col-sm-6">
                                            <input type="text" ng-model="e.adresse.boite" placeholder="Boîte postale" class="form-control"/>
                                        </div>
                                    </div>
                                    <select ng-model="e.adresse.pays" class="form-control"
                                            ng-options="p.id as p.name for p in pays"
                                            >
                                        <option value="" disabled>
                                            <ff translate>Sélectionnez votre pays</ff>
                                        </option>
                                    </select>
                                    <a href=""><i class="fa fa-reload"></i>
                                        <ff translate>Redéfinissez le lieu</ff>
                                    </a>
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <div class="map"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <label translate>Commence</label>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <input type="text" class="form-control" placeholder="20/09/2015"/>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <input type="text" class="form-control" placeholder="20:30"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <label translate>Se termine</label>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <input type="text" class="form-control" placeholder="20/09/2015"/>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <input type="text" class="form-control" placeholder="20:30"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nom" translate>Image de l'événement</label>
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="drop-box center" id="image_boutique">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <i class="fa fa-camera"></i>
                                            <br/>
                                            <div class="text-uppercase" translate>Ajouter une image de l'événement</div>
                                            <p class="small-text" translate>
                                                Choississez une belle image que représentera votre événement
                                            </p>
                                        </div>
                                        <div class="col-lg-6">
                                            <img src="" id="image" alt=""/>
                                        </div>
                                    </div>
                                </div>
                                <!--<img src="images/loc.png" id="image_boutique" width="100px" height="100px" >-->
                                <input type="file" name="icone_boutique" id="id_icone_boutique"  class="hide">
                            </div>
                            <div class="col-lg-3">
                                <p class="small-text" translate>Nous recommandons d'utiliser une image d'au moins 2160 x 1080 px (ratio 2:1) ne dépassant pas 10 Mo</p>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="nom" translate>Description de l'événement</label>
                        <text-angular ng-model="e.description"></text-angular>

                    </div>

                    <div class="form-group">
                        <label for="nom" translate>Nom de l'organisateur</label>
                        <br/>
                        <div>
                            <a ng-click="user='edit'" translate>Modifier l'organisateur</a> |
                            <a ng-click="user='new'" translate>Nouvel organisateur</a>
                        </div>
                        <div ng-if="e.organisateur.nom!=undefined || user!='new'&& user!='edit'">
                            <select class="form-control"
                                    style="height: 35.1px"
                                    ng-model="e.organisateur.name"
                                    ng-options="o.id as o.name for o in organisateurs">
                                <option value="" translate>Organisateur</option>
                            </select>
                        </div>
                        <div ng-if="user=='new'||user=='edit'">
                            <input type="text" ng-model="e.oragnisateur.name" placeholder="Nom de l'organisateur" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nom" translate>Description de l'organisateur</label>
                        <div class="row-fluid"
                             ng-if="e.organisateur.name!=undefined || user!='new'&& user!='edit'"
                                >
                            <div class="col-lg-12"
                                 ng-bind-html="e.organisateur.description">
                            </div>
                        </div>
                        <div ng-if="user=='new'||user=='edit'" >
                            <text-angular ng-model="e.organisateur.description"></text-angular>
                        </div>
                    </div>

                    <div class="form-group check">
                        <div class="checkbox">
                            <label for="inclure">
                                <input type="checkbox" ng-model="inclure" id="inclure"> <ff translate >Inclure des liens vers mes pages Facebook et Twitter</ff>
                            </label>
                        </div>
                        <div class="row-fluid" ng-if="inclure">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label><i class="fa fa-facebook"></i> Facebook</label>
                                    <input type="text" class="form-control" ng-model="e.organisateur.lien_facebook" placeholder="Lien vers page Facebook"/>
                                </div>
                                <div class="form-group">
                                    <label><i class="fa fa-twitter"></i> Twitter</label>
                                    <input type="text" class="form-control" ng-model="e.organisateur.lien_facebook" placeholder="Lien vers page Twitter"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Deuxieme partie : Billets -->
            <div class="row" style="margin-top: 25px; margin-left: 33px">
                <div class="col-lg-10 col-sm-10 col-md-10 " style="border-bottom: 1px solid #e7e7e7; padding: 0">
                    <h2><span class="number main">2</span>
                        <ff translate>Créez des billets</ff>
                    </h2>
                </div>
                <div class="clear-fix"></div>

                <div class="col-lg-9 col-sm-9" style="margin-top: 20px">
                    <div class="form-group text-center">
                        <div ng-if="type!='Gratuit'&& type!='Payant'">
                            <div style="margin-bottom: 15px" translate>Avec quel type de billet souhaitez-vous commencer?
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-main btn-reverse"
                                        ng-click="ajouter('Gratuit')">
                                    <i class="fa fa-plus-circle"></i>
                                    <ff translate>Billet gratuit</ff>
                                </button>
                                <button class="btn btn-main btn-reverse"
                                        ng-click="ajouter('Payant')">
                                    <i class="fa fa-plus-circle"></i>
                                    <ff translate>Billet payant</ff>
                                </button>
                            </div>
                        </div>
                        <div class="row" ng-if="type=='Gratuit'||type=='Payant'">
                            <table class="table">
                                <thead>
                                <th class="col-lg-5 col-sm-5 com-md-5">
                                    <ff translate>Nom du billet</ff>
                                    <span class="requis">*</span></th>
                                <th class="col-lg-2 col-sm-2 com-md-2">
                                    <ff translate>Qté disponible</ff>
                                    <span class="requis">*</span></th>
                                <th class="col-lg-3 col-sm-3 com-md-3">
                                    <ff translate>Prix</ff>
                                </th>
                                <th class="col-lg-2 col-sm-2 com-md-2">
                                    <ff translate>Actions</ff>
                                </th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="b in billets">
                                        <td><input type="text" ng-model="b.nom" placeholder="Billet à tarif préférentiel, RSVP..." class="form-control"/></td>
                                        <td><input type="number" min="0" step="1" ng-model="b.quantite" placeholder="100" class="form-control"/></td>
                                        <td ng-if="b.type=='Gratuit'">{{b.type}}</td>
                                        <td ng-if="b.type=='Payant'">
                                            <div class="input-group">
                                                <input type="number" min="0" ng-model="b.prix" placeholder="500" step="500" class="form-control"/>
                                                <span class="input-group-addon">Fcfa</span>
                                            </div>
                                        </td>
                                        <td style="line-height: 40px;">
                                            <a ng-click="choixBillet(b)" data-toggle="modal" href="/#billetModal">
                                                <i class="fa fa-gear fa-lg"></i></a>
                                            &nbsp;
                                            &nbsp;
                                            <a ng-click="supprimer(b)"><i class="fa fa-trash fa-lg"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="btn-group">
                                <button class="btn btn-main btn-reverse"
                                        ng-click="ajouter('Gratuit')">
                                    <i class="fa fa-plus-circle"></i>
                                    <ff translate>Billet gratuit</ff>
                                </button>
                                <button class="btn btn-main btn-reverse"
                                        ng-click="ajouter('Payant')">
                                    <i class="fa fa-plus-circle"></i>
                                    <ff translate>Billet payant</ff>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="type=='Payant'">
                        <label>
                            <ff translate>Mode de paiement</ff>
                            <span class="requis">*</span></label>
                        <div class="row check">
                            <div class="col-lg-6">
                                <div class="checkbox">
                                    <label for="orange">
                                        <input type="checkbox" ng-model="e.paiement.orange" id="orange">
                                        <ff>Orange Money</ff>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkbox">
                                    <label for="paypal">
                                        <input type="checkbox" ng-model="e.paiement.paypal" id="paypal">
                                        <ff>PayPal</ff>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Troisième partie : Infos supplémentaires -->
            <div class="row" style="margin-top: 25px; margin-left: 33px">
                <div class="col-lg-10 col-sm-10 col-md-10 " style="border-bottom: 1px solid #e7e7e7; padding: 0">
                    <h2><span class="number main">3</span>
                        <ff translate>Paramètres supplémentaires</ff>
                    </h2>
                </div>
                <div class="clear-fix"></div>

                <div class="col-lg-9 col-sm-9" style="margin-top: 20px">

                    <div class="form-group">
                        <label translate>Confidentialité</label>
                        <div class="row-fluid check">
                            <div class="checkbox">
                                <label for="public">
                                    <input type="radio" checked value="Public" ng-model="e.confidentialite" id="public">
                                    <ff translate>Evénement public</ff>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="privee">
                                    <input type="radio" value="Privée" ng-model="e.confidentialite" id="privee">
                                    <ff translate>Evénement privé</ff>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="e.confidentialite=='Public'">
                        <label translate>Type d'événement</label>
                        <select ng-model="e.type" class="form-control"
                                ng-options="t.id as t.name for t in types">
                            <option value="" disabled translate>Selectionnez le type d'événement</option>
                        </select>
                    </div>

                    <div class="form-group" ng-if="e.confidentialite=='Public'">
                        <label translate>thème de l'événement</label>
                        <select ng-model="e.type" class="form-control"
                                ng-options="t.id as t.name for t in categories">
                            <option value="" disabled translate>Selectionnez le thème de l'événement</option>
                        </select>
                    </div>

                    <div class="form-group" ng-if="e.confidentialite=='Privée'">
                        <label translate>Mails des participants</label>
                        <textarea ng-model="e.liste_participant" class="form-control"
                                  placeholder="Veuillez séparer les adresses par des ';'"></textarea>
                    </div>

                    <div class="form-group">
                        <label>billet restant</label>
                        <div class="checkbox check">
                            <label for="billet">
                                <input type="checkbox" ng-model="e.billet_restant" id="billet">
                                <ff translate>Afficher le nombre de billets restants sur la page de l'événement</ff>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--<hr/>-->
        <div class="text-center end">
            <h1 translate>Beau travail ! Vous y êtes presque.</h1>
            <button class="btn btn-main btn-reverse" translate>Sauvegarder l'événement</button>
            <button class="btn btn-main btn-green" translate>Publier</button>
        </div>
    </form>

    <!--Prévisualisation-->
    <div ng-if="option=='visualisation'">
        <div class="intro-header" style="background: url('/../..{{event.banner_picture}}');background-size: cover">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h4 class="date-titre"><ff translate >Le</ff> {{event.date_debut}} <ff translate >à</ff> {{event.adresse.ville}}</h4>
                            <h1>{{event.name}}</h1>
                            <h4><ff translate >Par</ff> : {{event.organizer.name}} </h4>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container -->
            <div class="clearfix"></div>
            <div class="container">
                <div class="row" style="margin-bottom: 0 !important;">
                    <div class="col-lg-12" style="padding-left: 0;padding-right: 0px">
                        <div class="listing clearfix">
                            <div class="col-lg-6" style="margin-top: 10px">
                                <a href="#" title="Sauvegarder" style="margin-right: 5px"><i class="fa fa-bookmark-o fa-2x"></i></a>
                                <a href="#" title="Partager"><i class="fa fa-share-alt fa-2x"></i></a>
                            </div>
                            <div class="col-lg-6" style="text-align: right">
                                <div class="btn-white">{{event.tickets[0].amount}} Fcfa</div>
                                <button class="btn btn-main btn-green" data-toggle="modal" href="/#inscriptionModal" translate >S'inscrire</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section id="detail">
            <div class="container description">
                <div class="row-fluid">
                    <div class="col-lg-8">
                        <dl>
                            <dt translate >DESCRIPTION</dt>
                            <dd>
                                <p>{{event.description}}</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt translate>TAGS</dt>
                            <dd>
                                <section>
                            <span>
                                <a ui-sref="events({target:event.event_topic.name})" class="badge">{{event.event_topic.name}}</a>
                            </span>
                            <span>
                                <a ui-sref="events({target:event.event_type.name})" class="badge">{{event.event_type.name}}</a>
                            </span>
                                </section>
                            </dd>
                        </dl>
                    </div>

                    <div class="col-lg-4">
                        <dl>
                            <dt translate>DATE ET HEURE</dt>
                            <dd><ff translate >du</ff> <strong>{{event.date_debut}}</strong> <ff translate >au</ff> <strong>{{event.date_fin}}</strong></dd>
                        </dl>

                        <dl>
                            <dt translate >ADRESSE</dt>
                            <dd>{{event.adress.post_box}} {{event.adress.name}}</dd>
                            <dd>{{event.adress.street}}</dd>
                            <dd>{{event.town.name}}</dd>
                            <dd>{{event.town.country.name}}</dd>

                        </dl>
                    </div>

                </div>
                <div class="clearfix"></div>

                <!--Détails sur l'organisateur-->
                <div class="row-fluid">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="divider"></div>
                            <h3 class="bold">{{event.organizer.name}}</h3>
                            <div><ff translate >Organisateur de</ff> <strong>{{event.name}}</strong></div>
                            <div class="image">
                                <img src="{{event.organizer.image}}" alt="" title="{{event.organizer.name}}"/>
                            </div>
                            <p style="text-align: left;margin-top: 10px;">
                                {{event.organizer.description}}
                            </p>
                            <p class="option">
                                <a ui-sref="profil{{event.organizer.name}}"><i class="fa fa-navicon"></i> <ff translate >Profil</ff></a>
                                <a ui-sref="contact-organisateur{{event.organisateur.email}}"><i class="fa fa-envelope-o"></i> <ff translate >Contactez</ff></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <!--Carte-->
            </div>
            <div class="clearfix"></div>
            <div class="container">
                <div id="map"></div>
                <div id="map_canvas"></div>
            </div>
        </section>

    </div>
</section>


<div class="modal fade" id="billetModal" tabindex="-1" role="dialog" aria-labelledby="Agent" aria-hidden="true">
    <div class="modal-dialog" style="width: 35%;">
        <form class="modal-content">
            <div class="modal-header" style="background: #EFF2F5">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center text-uppercase bold" translate>Description du billet</h4>
            </div>
            <div class="modal-body" style="background: #F8F8FA">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="titre">{{billet_detail.nom}}</h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 check">
                        <div class="form-group">
                            <label translate>Description du billet</label>
                            <textarea class="form-control" ng-model="billet_detail.description"
                                      placeholder="Donnez à vos participas plus de renseignements sur ce type de billet."></textarea>
                            <div class="row-fluid">
                                <div class="checkbox">
                                    <label for="afficher">
                                        <input type="checkbox" g-model="billet_detail.afficher" id="afficher">
                                        <ff translate>Afficher la description du billet.</ff>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Circuit de vente</label>
                            <select class="form-control">
                                <option value="Partout" translate>Partout</option>
                                <option value="En ligne" translate>En ligne uniquement</option>
                                <option value="A l'entrée" translate>A l'entrée uniquement</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label translate>Debut de la vente de billets</label>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="10/10/2016" ng-model="billet_detail.date_debut_vente" class="form-control"/>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="10:15" ng-model="billet_detail.heure_debut_vente" class="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate>Fin de la vente de billets</label>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="10/10/2016" ng-model="billet_detail.date_fin_vente" class="form-control"/>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="10:15" ng-model="billet_detail.heure_fin_vente" class="form-control"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate>Nombre de billets autorisé par commande</label>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="number" min="1" max="{{billet_detail.quantite}}" placeholder="1" ng-model="billet_detail.min_autorise" class="form-control"/>
                                </div>
                                <div class="col-lg-6">
                                    <input type="number" min="1" max="{{billet_detail.quantite}}" placeholder="10" ng-model="billet_detail.max_autorise" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" ng-click="annuler(billet_detail)" class="btn btn-main btn-reverse"
                        translate>Annuler les modifications
                </button>
                <button id="close" class="btn btn-main" data-dismiss="modal" translate>Fermer</button>
            </div>
        </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->