<section>


    <div class="col-lg-9">
        <h1 class="sz" style="padding-left: 15px;font-weight: bold;" ng-bind-html="titre"></h1>
        <div class="row">
            <div class="col-lg-4 pull-right">
                <input type="text" ng-model="searchKeys" required class="form-control" placeholder="Recherche d'événements"/>
            </div>
        </div>
        <div class="row no-padding card item"
             style="margin:0 15px 15px"
             dir-paginate="e in events |filter:searchKey | orderBy : '-name' : true| itemsPerPage: par_page "
                >
            <div class="col-lg-3">
                <div ui-sref="details({nom:e.name+'/'+e.id})" class="image" style="height:100px; cursor: pointer">
                    <img ng-src="{{e.banner_picture}}" class="img-responsive" alt="{{e.name}}"/>
                </div>
                <div class="price">
                    {{e.tickets[0].amount}} Fcfa
                </div>
            </div>
            <div class="col-lg-9">
                <div class="item-9" ui-sref="details({nom:e.name+'/'+e.id})">
                    <div class="date">du {{e.date_debut}} au {{e.date_fin}}</div>
                    <div class="titre">{{e.name}}</div>
                    <div class="lieu" style="position: absolute;bottom: 0;">{{e.adress.name}}, {{e.town.name}}</div>
                </div>
                <div class="card-action">
                    <div class="tag">
                        <a ui-sref="events({target:e.event_topic.name,id:'topic'})">#{{e.event_topic.name}}</a>
                        <a ui-sref="events({target:e.event_type.name,id:'type'})">#{{e.event_type.name}}</a>
                    </div>
                    <div class="action">
                        <a href="#" class="pull-right" title="Partager"><i class="fa fa-share-alt"></i></a>
                        <a href="#" class="pull-right" title="Sauvegarder"><i class="fa fa-bookmark-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" >
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>


</section>