<section id="compte">
    <h1 class="bold" translate>Panneau de gestion</h1>
    <div class="row">
        <div class="col-lg-9">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" translate>Billets</a></li>
                    <!--<li><a href="/#livres" data-toggle="tab">Invitations</a></li>-->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="accueil">
                    <table class="table">
                        <thead>
                        <th translate>Intitulé du billet</th>
                        <th translate>Billets vendus</th>
                        <th translate>Billets disponibles</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="t in event.tickets">
                            <td>{{t.name}}</td>
                            <td>{{t.participant.length}}</td>
                            <td>{{t.quantity-t.participant.length}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="tab-pane" id="livres"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="progress" style="margin-top: 15px">
                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                     aria-valuemin="0" aria-valuemax="100" style="width: {{vendu*100/quantite}}%">
                </div>
            </div>
            <ff translate>Billets vendus</ff>
            : {{vendu}}/{{quantite}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form ng-submit="modifierUrlEvent(event)">
                <div class="form-group" ng-repeat="link in event.event_links">
                    <label translate>L'url de votre événement</label>
                    <span class="clearfix"></span>
                    <strong>{{link.name}}</strong>:{{link.url}}
                    <!--<input type="url" ng-model="link.url" placeholder="http://www.eventmboa.com/" class="form-control"/>-->
                </div>
            </form>
        </div>
    </div>

    <div class="row" ng-if="participants.length>0">
        <div class="col-lg-12">
            <h4 translate>Participants</h4>
            <div class="no-padding">
                <div class="col-lg-12">
                    <div class="row-fluid">
                        <div class="col-lg-6">
                            <label translate="">Filtre</label>
                            <input type="text" ng-model="searchKey"
                                   placeholder="{{'Recherche un participant'|translate}}" class="form-control"/>
                        </div>
                        <div class="col-lg-3 pull-right">
                            <label translate="">Nombre à afficher</label>
                            <input type="number" class="form-control" ng-model="par_page"
                                   placeholder="{{'Nombre à afficher'|translate}}"/>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table" ng-repeat="t in event.tickets">
                <thead>
                <th translate>Numéro de commande</th>
                <th translate>Acheteur du billet</th>
                <th translate>Quantité</th>
                <th translate>Prix</th>
                <th translate>Date</th>
                <th translate>Paiement</th>
                </thead>
                <tbody>
                <tr dir-paginate="p in participants |filter:searchKey | orderBy : '-id' : true| itemsPerPage: par_page ">
                    <td>{{p.id}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.number}}</td>
                    <td>{{p.ticket.amount}} Fcfa</td>
                    <td>{{p.created_at}}</td>
                    <td>{{p.paiement}}</td>
                </tr>
                </tbody>
            </table>

            <div class="text-center">
                <dir-pagination-controls></dir-pagination-controls>
            </div>

        </div>
    </div>
</section>
