<section id="compte">
    <h1 class="bold">Panneau de gestion</h1>
    <div class="row">
        <div class="col-lg-9">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="/#accueil" data-toggle="tab">Billets</a></li>
                    <!--<li><a href="/#livres" data-toggle="tab">Invitations</a></li>-->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="accueil">
                    <table class="table">
                        <thead>
                            <th>Billets vendus</th>
                            <th>Billets disponibles</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="n in [1,2,3,4]">
                                <td>{{event.billet_vendu}} {{n}}</td>
                                <td>{{event.billet_restant}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="tab-pane" id="livres"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="progress" style="margin-top: 15px">
                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                     aria-valuemin="0" aria-valuemax="100" style="width: {{(event.billet_vendu*100)/event.billets[0].quantite}}%">
                </div>
            </div>
            Billets vendus : {{event.billet_vendu}}/{{event.billets[0].quantite}}
        </div>
    </div>

    <div class="row">
        <form ng-submit="modifierUrlEvent(event)">
            <div class="form-group">
                <label>L'url de votre événement</label>
                <input type="url" ng-model="event.lien" placeholder="http://www.eventmboa.com/" class="form-control"/>
            </div>
        </form>
    </div>

    <div class="row">
        <h4>Commandes récentes</h4>
        <table class="table">
            <thead>
                <th>Numéro de commande</th>
                <th>Acheteur du billet</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Date</th>
                <th>Paiement</th>
            </thead>
            <tbody>
                <tr ng-repeat="c in commandes|orderBy:'-date':true">
                    <td>{{c.numero}}</td>
                    <td>{{c.acheteur}}</td>
                    <td>{{c.quantite}}</td>
                    <td>{{c.prix}}</td>
                    <td>{{c.date}}</td>
                    <td>{{c.paiement}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <h4>Ventes par type de billet</h4>
        <table class="table">
            <thead>
                <th>Type de billet</th>
                <th>Prix</th>
                <th>Vendu</th>
                <th>Statut</th>
                <th>Fin des ventes</th>
            </thead>
            <tbody>
                <tr ng-repeat="c in commandes|orderBy:'-date':true">
                    <td>{{c.numero}}</td>
                    <td>{{c.acheteur}}</td>
                    <td>{{c.quantite}}</td>
                    <td>{{c.prix}}</td>
                    <td>{{c.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade" id="omModal" tabindex="-1" role="dialog" aria-labelledby="Agent" aria-hidden="true">
    <div class="modal-dialog" style="width: 35%;">
        <form class="modal-content" ng-submit="enregistrerOM(no)">
            <div class="modal-header" style="background: #EFF2F5">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center text-uppercase bold">{{titre}}</h4>
            </div>
            <div class="modal-body" style="background: #F8F8FA">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Titulaire <span class="requis">*</span></label>
                            <input type="text" ng-model="no.titulaire" placeholder="Titulaire du numéro" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Numéro <span class="requis">*</span></label>
                            <input type="text" ng-model="no.numero" placeholder="Numéro" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-main" type="submit">Enregistrer</button>
                <button id="close" class="btn btn-main hide" data-dismiss="modal">Fermer</button>
            </div>
        </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->