<section class="footer" style="margin-top: 15px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-3">
                <ul class="nav">
                    <h3>Utiliser EventMboa</h3>
                    <li><a href="">EventMboa App</a></li>
                    <li><a href="">Tarifs</a></li>
                    <li><a href="">Plan de salle</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3">
                <ul class="nav">
                    <h3>Planifiez vos événements</h3>
                    <li><a href="">Associations</a></li>
                    <li><a href="">Rencontre technologiques</a></li>
                    <li><a href="">vendre des billets en ligne</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3">
                <ul class="nav">
                    <h3>Rechercher des événmenets</h3>
                    <li><a href="">Evénements à Yaoundé</a></li>
                    <li><a href="">Evénements à Douala</a></li>
                    <li><a href="">Evénements à Bafoussam</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3">
                <ul class="nav">
                    <h3>Restons connectés</h3>
                    <li><a href=""><i class="fa fa-envelope"></i> Contacter l'assistance</a></li>
                    <li><a href="https://www.facebook.com/eventmboa/"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href="https://twitter.com/Event_Mboa"><i class="fa fa-twitter"></i> Twitter</a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                    <li><a href="https://www.instagram.com/eventmboa/"><i class="fa fa-instagram"></i> Instagram</a>
                    </li>
                    <li><a href="https://plus.google.com/u/0/108139670497252318920"><i class="fa fa-google-plus"></i>
                        Gougle+</a></li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <h3>Pays</h3>
                <ul class="nav navbar">
                    <li ng-repeat="v in villes"><a >{{v}}</a></li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-9 col-sm-9 col-md-9 spec">
                <ul class="nav navbar">
                    <li><a href="">A propos</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Aide</a></li>
                    <li><a href="">Emploi</a></li>
                    <li><a href="">Presse</a></li>
                    <li><a href="">Sécurité</a></li>
                    <li><a href="">Développeurs</a></li>
                    <li><a href="">Conditions d'utilisation</a></li>
                    <li><a href="">Confidentialité</a></li>
                    <li><a href="">Cookies</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3">
                <select name="" id="" class="form-control">
                    <option ng-repeat="p in pays" value="">{{p}}</option>
                </select>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center bold">
                    &copy; EventMboa {{currentDate|date:'yyyy'}}
                </div>
                <div class="small text-center">
                    <a href="http://www.wiicod.com">Wiicod</a>
                </div>
            </div>
        </div>
    </div>
</section>