<header role="banner">
    <div class="fluid-container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <i class="fa fa-list"></i>
                </a>
                <!--<a class="navbar-brand logo" ui-sref="home" st>-->
                    <!--<img src="images/logo/256_2.png" alt=""/>-->
                <!--</a>-->
                <a class="navbar-brand logo" ui-sref="home">
                    EventMboa
                </a>
                <ul class="nav navbar-nav hidden-sm hidden-xs" ng-if="!lieu">
                    <li class=""><a ui-sref="events({id:'',target:''})" data-nav-section="home"><span
                            translate>Parcourir</span></a></li>
                </ul>
            </div>
            <div style="float: left; width: 24%" >
                <form ng-submit="searchEvent(key)">
                    <input type="text" ng-model="key" required class="input"
                           placeholder="{{'Rechercher événements'|translate}}"/>
                </form>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"  ng-if="!loguer"><a style="background: #d93127 !important;color: white !important;" ng-click="create_event()"><span
                            translate>Créer un événement</span></a>
                    </li>
                    <li class="active" ng-if="loguer"><a style="background: #d93127 !important;color: white !important;" ui-sref="create({id:'',target:''})"><span translate>Créer un événement</span></a>
                    </li>
                    <li class="" ><a style="background: #f69524 !important;color: white !important;" ui-sref="events({id:'',target:''})"><span translate>Parcourir</span></a></li>
                    <li class="" ng-if="!loguer"><a style="background: #f69524 !important;color: white !important;" href="#" ui-sref="login"><span translate>Se connecter</span></a>
                    </li>
                    <li class="" ng-if="!loguer"><a style="background: #a8aaac !important;color: white !important;" href="#" ui-sref="register"><span translate>Ouvrir un compte</span></a>
                    </li>

                    <li class="dropdown" ng-if="loguer">
                        <a style="background: #3ab44b !important;color: white !important;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp;
                            {{user.person.first_name}}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ui-sref="billet">
                                    <div class="row">
                                        <div class="col-lg-9" translate>Billets</div>
                                        <div class="col-lg-3">{{billet}}</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="save">
                                    <div class="row">
                                        <div class="col-lg-9" translate>Sauvegardés</div>
                                        <div class="col-lg-3">{{save}}</div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a ui-sref="myEvent" translate>Gérer les événements</a></li>
                            <li><a ui-sref="profil" translate>Profil d'organisateur</a></li>
                            <li><a ui-sref="myContact" translate>Contact</a></li>
                            <li class="divider"></li>
                            <li><a ui-sref="compte" translate>Paramètres du compte</a></li>
                            <li><a href="#" ng-click="logout()" translate>Se déconnecter</a></li>
                        </ul>
                    </li>
                    <li class=""><a style="background: #0872b8 !important;color: white !important;" ui-sref="aide"><span translate>Aide</span></a></li>
                    <li class="" ng-controller="AppCtrl">
                        <a>
                            <span ng-click="setLanguage('fr')">Fr</span>/
                            <span ng-click="setLanguage('en')">En</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>