/vendor
/node_modules
/public/storage
/public/docs
Homestead.yaml
Homestead.json
/public/vendor
.env
/.idea

/.ebextensions/00environmentVariables.config

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

