option_settings:
   - namespace : aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: 'eventmboa.chojnzlf1eok.us-east-1.rds.amazonaws.com:3306'
   - option_name : DB_PORT
     value : 3306
   - option_name : DB_DATABASE
     value : "eventmboa"
   - option_name : DB_USERNAME
     value : "root"
   - option_name : DB_PASSWORD
     value : "eventmboa"
   - option_name : APP_KEY
     value : base64:eRO7DvTYAkrsbLRlC99EcRUcd3BlMNvy9BcY/DrKJ5s=
   - option_name : APP_URL
     value : http://www.eventmboa.com/
   - option_name : APP_ENV
     value : production
   - option_name : AWS_ACCESS_KEY_ID
     value : AKIAIIPHRFQ56S4PJ2IA
   - option_name : AWS_SECRET_ACCESS_KEY
     value : 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
   - option_name : QUEUE_URL
     value : https://sqs.us-east-1.amazonaws.com/412989421113
   - option_name : QUEUE_NAME
     value : eventmboa
   - option_name : QUEUE_DRIVER
     value : sqs
   - option_name : SUPERVISE
     value : enable
   - option_name : MAIL_DRIVER
     value : smtp
   - option_name : MAIL_HOST
     value : smtp.gmail.com
   - option_name : MAIL_PORT
     value : 587
   - option_name : MAIL_ENCRYPTION
     value : tls
   - option_name : MAIL_USERNAME
     value : eventmboa@gmail.com
   - option_name : MAIL_PASSWORD
     value : eventmboaeventmboa2016
   - option_name : PAYPAL_CLIENT_ID
     value : AQKaOJ7nmzr-FdssYQRMVYTUOqpctixmK8BcPUhKNwvm7bLdW7Mw0LqMuqfAhmhsO9hBMmNkOPgVM8ki
   - option_name : PAYPAL_SECRET
     value : EC_OoxOE-9EKnNiUlxTul32HuqknE_HLDkG1XxOVhIWQmX_wDVNRJ6Rz5bNnvLVfBF4r4HTTo9hbpF4l