<section id="gerer">
    <div class="container">
        <div class="row" style="margin-top: 30px">
            <div class="col-lg-9 col-sm-9 col-md-9">
                <h1>
                    <ff translate>Commande pour</ff>
                    <span class="blue">{{billet.event.name}}</span></h1>
            </div>
            <!--&lt;!&ndash; Quand on voudra gerer evenement par organisateur&ndash;&gt;-->
            <!--<div class="col-lg-4 col-sm-4 col-md-4" style="padding-top: 20px">-->
            <!--<select ng-model="user_event" class="form-control"-->
            <!--ng-options="u.nom as u.nom for u in users">-->
            <!--<option value="">Tous les événements</option>-->
            <!--</select>-->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="col-lg-9 col-sm-9 col-md-9">
                <p>
                    <ff translate>Commande n°</ff>
                    {{billet.id}}
                    <ff translate>le</ff>
                    {{billet.created_at}}
                </p>
                <p>{{billet.event.date_debut}}
                    <ff translate>de</ff>
                    {{billet.event.heure_debut}}
                    <ff translate>à</ff>
                    {{billet.event.heure_fin}}
                    <ff translate>à</ff>
                    {{billet.event.adress.town.name}}
                </p>
            </div>
        </div>


        <div class="row">

            <div class="col-lg-3">
                <!--<div class="btn btn-main btn-block" translate="">Imprimer les billets</div>-->
                <a href="mailto:{{organizer.email}}" class="btn btn-main btn-block">
                    <ff translate>Contacter</ff>
                    <br/>
                    <ff translate>l'organisateur</ff>
                </a>
                <div class="btn btn-main btn-reverse btn-block" translate ng-click="annulerCommande()">Annuler la commande</div>
            </div>

            <div class="col-lg-8" style="background: #fff">
                <h3 translate>Détails du billet</h3>
                <div class="row-fluid">
                    <h4 class="blue">{{billet.name}}</h4>
                    <p>{{billet.description}}</p>
                    <div>
                        <ff translate>Nombre de ticket</ff> : <span class="blue bold">{{billet.quantite}}</span> |
                        <ff translate>Prix</ff> : <span class="blue bold">{{billet.amount}} Fcfa</span> |
                        <ff translate>Point de distribution</ff> : <span class="blue bold">{{billet.distribution_points[0].name}}</span>
                    </div>
                </div>

                <h3 translate>Coordonnées</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th translate>Prénom</th>
                        <td>{{user.person.first_name}}</td>
                    </tr>
                    <tr>
                        <th translate>Nom</th>
                        <td>{{user.person.last_name}}</td>
                    </tr>
                    <tr>
                        <th translate>Email</th>
                        <td>{{user.email}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
            <a ui-sref="billet"><i class="fa fa-arrow-left"></i>
                <ff translate>Retour aux commandes en cours</ff>
            </a>
        </div>
    </div>
</section>