<section id="gerer">
    <div class="container">
        <div class="row">
            <button class="btn btn-main btn-reverse" ng-click="click_im()">
                click
            </button>
            <div class="col-lg-9">
                <div class="drop-box center" ng-click="im()">
                    <div class="row">
                        <div class="col-lg-6">
                            <i class="fa fa-camera"></i>
                            <br/>
                            <div class="text-uppercase">Ajouter une image de l'événement</div>
                            <p class="small-text">
                                Choississez une belle image que représentera votre événement
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <img src="" id="image" alt=""/>
                        </div>
                    </div>
                </div>
                <!--<img src="images/loc.png" id="image_boutique" width="100px" height="100px" >-->
                <input type="file" style="display: none" name="icone_boutique" ng-model="files" id="im" onchange="angular.element(this).scope().fileNameChanged(this)">
            </div>
            <div class="col-lg-3">
                <p class="small-text">Nous recommandons d'utiliser une image d'au moins 2160 x 1080 px (ratio 2:1) ne dépassant pas 10 Mo</p>
            </div>
        </div>
    </div>
</section>