<div class="container">
    <form class="form-signin" ng-submit="reset()" ng-show="isValidToken">
        <h2 class="text-center" translate>Reinitialiser le mot de passe.</h2>


        <div class="form-group">
            <input type="password" class="form-control" ng-model="password"
                   placeholder="{{'Nouveau mot de passe'|translate}}"
                   required/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" ng-model="password_confirmation"
                   placeholder="{{'Confirmer mot de passe'|translate}}"
                   required/>
        </div>


        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-main" translate>Reinitialiser le mot de passe</button>
        </div>


    </form>

</div>