<section>
    <div class="home-carousel">
        <div class="static hidden-xs hidden-sm">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <h1>Lorem ipsum dolor sit amet</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda dicta expedita fuga iusto molestias, nam nisi nobis placeat quas, repellat voluptates. A alias aliquam, animi exercitationem iste quidem reprehenderit!</p>
                        <p>
                            <a href="" class="btn btn-primary btn-main" ng-if="!loguer" ui-sref="login" translate>Commencer</a>
                            <a href="" class="btn btn-primary btn-main" ng-if="loguer" ui-sref="create" translate>Créer un événement</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="homepage owl-carousel">
                <div class="item">
                    <img src="images/bg1.jpg" alt=""/>
                </div>
                <div class="item">
                    <img src="images/bg2.jpg" alt=""/>
                </div>
                <div class="item">
                    <img src="images/bg3.jpg" alt=""/>
                </div>

            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>

</section>

<section id="form">
    <div class="container" style="box-shadow: 0px 1px 13px #a8aaac; padding: 15px">
        <form class="row no-padding" ng-submit="search(key)">
            <div class="col-lg-4 col-sm-10 col-xs-10 col-md-4" style="padding-left: 15px">
                <input type="text" ng-model="key.titre" class="form-control"
                       placeholder="{{'Rechercher des événements ou des catégories'|translate}}"/></div>
            <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3 hidden-sm hidden-xs">
                <input type="text" ng-model="key.ville" class="form-control"
                       placeholder="{{'Entrez la ville ou le lieu'|translate}}"/></div>
            <div class="col-lg-3 col-sm-3 col-xs-5 col-md-5 hidden-sm hidden-xs">
                <select class="form-control" ng-model="key.date"
                        ng-options="d.value as d.name for d in date_deb|orderBy:'-value':true">
                    <option value="" translate>Toutes les dates</option>
                </select>
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2" style="padding-right: 15px">
                <button class="btn btn-primary btn-main hidden-sm hidden-xs" translate>Rechercher</button>
                <button class="btn btn-primary btn-main hidden-lg hidden-md" translate><i class="fa fa-search"></i></button>
            </div>
        </form>

        <h3>
            <ff translate>Evénement pour vous</ff>
        </h3>

        <div class="row">
            <div class="col-lg-4" ng-repeat="e in events | limitTo:6|orderBy:'-start_date':false"
                 ng-if="e.tickets.length>0"
            >
                <div class="card">
                    <div class="card-image" ui-sref="details({nom:e.name+'/'+e.id})">
                        <img class="img-responsive" src="{{e.banner_picture}}">
                        <span class="card-title">{{e.tickets[0].amount}} Fcfa</span>
                    </div>
                    <div class="card-content" ui-sref="details({nom:e.name+'/'+e.id})">
                        <!--<ul class="nav">-->
                            <!--<li class="date">MER. 14 SEPT. 20:00</li>-->
                            <!--<li class="titre">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam aliquid, aut autem consequatur cumque dolor dolore ea error id iste iure, libero modi nisi pariatur quasi quis ratione sunt.</li>-->
                            <!--<li class="lieu">Ville, Pays</li>-->
                        <!--</ul>-->
                        <div class="date">{{e.date_debut}}</div>
                        <div class="titre">
                            {{e.name|limitTo:50}}
                        </div>
                        <div class="lieu">{{e.adress.name}}, {{e.town.name}}</div>
                    </div>

                    <div class="card-action">
                        <div class="tag">
                            <a ui-sref="events({target:e.event_topic.name,id:'topic'})">#{{e.event_topic.name|limitTo:15}}</a>
                            <a ui-sref="events({target:e.event_type.name,id:'type'})">#{{e.event_type.name|limitTo:15}}</a>
                        </div>
                        <div class="action">
                            <!--<a class="pull-right" title="Partager"><i class="fa fa-share-alt"></i></a>-->
                            <a class="pull-right" title="Sauvegarder" ng-click="interest(e)"><i
                                    class="fa fa-bookmark-o"></i></a>
                        </div>


                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center">
                <a ui-sref="events" class="btn btn-primary btn-main" translate>Plus d'événements</a>
            </div>
        </div>

        <h5 translate>Publicité</h5>

        <div class="row">
            <div class="content_middle">
                <div class="col-lg-4 col2 pub" ng-repeat="p in pub | orderBy:'-update_at':true|limitTo:3">
                    <a href="{{p.url}}"
                       class="b-link-stroke b-animate-go  thickbox">
                        <img src="{{p.banner_picture}}" class="img-responsive" alt="{{p.title}}"/>
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">{{p.title}}</br> - <br/>{{p.company}}</h3>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>


        <h3 translate>Parcourir par catégories</h3>

        <div class="row">

            <div class="content_middle">
                <div class="col-md-4 col2" ng-repeat="c in categories | orderBy:'-update_at':true|limitTo:9">
                    <a href="#" ui-sref="events({target:c.name,id:'type'})"
                       class="b-link-stroke b-animate-go  thickbox">
                        <img src="{{c.image}}" class="img-responsive" alt="{{c.name}}"/>
                        <div class="b-wrapper">
                            <h2 class="b-animate b-from-left    b-delay03 ">{{c.name}}</h2>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
</section>