<section>
    <div class="container">
        <h2 translate>Aide</h2>
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <input type="text" ng-model="searchKey" placeholder="{{'Rechercher un sujet'|translate}}" class="form-control"/>
                </div>
                <div class="row"
                     dir-paginate="a in aide |filter:searchKey | orderBy : '-title' : true| itemsPerPage: par_page "
                     style="margin-bottom:15px; border-bottom: 1px solid #eee">
                    <h3>{{a.title}}</h3>
                    <p>{{a.description}}</p>
                </div>
                <div class="row">
                    <div class="clearfix"></div>
                    <div class="text-center">
                        <dir-pagination-controls></dir-pagination-controls>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
               <h5 translate>Publicité</h5>
                <div class="row hidden-sm hidden-xs" ng-repeat="p in pub |orderBy:'-update_at':true| limitTo:9">
                    <div class="col-md-12 col2 pub">
                        <a href="{{p.url}}"
                           class="b-link-stroke b-animate-go  thickbox">
                            <img src="{{p.banner_picture}}" class="img-responsive" alt="{{p.title}}"/>
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">{{p.title}}</br> - <br/>{{p.company}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>