<section id="gerer">
    <div class="container">
        <div class="row" style="margin-top: 30px">
            <div class="col-lg-8 col-sm-8 col-md-8">
                <h1 translate>Cookies</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li><a ui-sref="apropos" >
                            <ff translate>A propos</ff>
                        </a></li>
                        <li><a ui-sref="condition" >
                            <ff translate>Conditions d'utilisations</ff>
                        </a></li>
                        <li><a ui-sref="confidentialite" >
                            <ff translate>Confidentialité</ff>
                        </a></li>
                        <li class="active"><a >
                            <ff translate>Cookies</ff>
                        </a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="cookies">

                            <h2 translate>Notre politique relative aux cookies</h2>
                            <h3 translate>Application</h3>

                            <p translate>Cette politique relative aux cookies énonce notre politique en ce qui concerne les informations, y compris les informations qui peuvent être associés à une personne en particulier et qui pourraient servir à identifier cette personne (« données personnelles »), collectées auprès des utilisateurs par le biais de cookies, balises pixels, objets locaux partagés, stockage web et autres technologies similaires.</p>

                            <h3 translate>Incorporation par renvoi</h3>

                            <p translate>Veuillez également consulter notre Privacy Policy, dans laquelle cette politique de Cookie est incorporée par renvoi, qui énonce notre politique en ce qui concerne la collecte, l’utilisation, la divulgation, le transfert et le stockage des informations, y compris les données personnelles collectées auprès des utilisateurs. Rien dans la présente politique relative aux cookies n’est réputé modifier, renoncer, amender ou annuler toute autre expression de la politique de confidentialité.</p>

                            <h3 translate>Consentement</h3>

                            <p translate>En utilisant les Services, vous consentez à l'utilisation des technologies décrites dans cette politique relative aux cookies pour collecter les données à caractère personnel et les données à caractère non personnels et au stockage des informations sur votre périphérique ou navigateur web comme décrit dans cette politique relative aux cookies.</p>
                            <h2 translate>Que sont les cookies, les balises pixel (GIF ou balises témoins), les objets partagés localement et le stockage web ?</h2>
                            <h3 translate>Cookies</h3>

                            <p translate>Un cookie est un élément d'information qui est placé sur votre navigateur web lorsque vous accédez à et/ou utilisez les Services qui stocke un texte qui peut être lu plus tard par les Services ou les tiers. Les cookies servent à reconnaître votre navigateur et vous en tant qu'un utilisateur unique.</p>

                            <h3 translate>Balises pixels (GIFs ou balises web)</h3>

                            <p translate>Une balise pixel est une minuscule balise invisible ou graphique placée sur certaines parties des Services ou d'autres sites Web, courriels ou dans certains autres contenus téléchargeables, mais pas sur votre ordinateur, appareil mobile ou navigateur, sauf dans la mesure où vous téléchargez le contenu qui contient des balises.</p>

                            <h3 translate>Objets partagés localement (ou Cookies Flash)</h3>

                            <p translate>Un objet partagé localement est similaire à un cookie, mais il est stocké sur votre ordinateur ou votre appareil mobile, au lieu de votre navigateur, et il peut stocker plus qu'un simple texte. Les méthodes pour contrôler les objets partagés localement sont différentes des méthodes pour contrôler les cookies (tel que décrit ci-dessous)</p>
                            <h2 translate>Comment puis-je gérer ces technologies ?</h2>
                            <h3 translate>Cookies</h3>

                            <p translate>Les cookies peuvent être des cookies de session (c'est-à-dire qu’ils durent uniquement pendant la session d'un navigateur) ou es cookies persistants (c.-à-d. qu’ils restent sur votre navigateur jusqu'à ce qu'ils soient supprimé). Vous pouvez gérer les cookies par le biais de paramètres d'options de votre navigateur web, grâce à ces paramètres, vous pouvez être en mesure (a) de recevoir des notifications lorsque vous recevez des nouveaux cookies ; (b) de désactiver les cookies ; ou (c) de supprimer les cookies. Veuillez vous reporter à la section d'aide du navigateur web pour plus d'informations sur ces méthodes.</p>

                            <h3 translate>Balises pixel</h3>

                            <p translate>Les balises pixels ne stockent pas d'informations sur votre ordinateur, appareil mobile ou un navigateur (bien que parfois, ils soient téléchargés sur votre ordinateur s’ils sont contenus dans un email ou tout autre contenu téléchargeable) donc ne peuvent pas être gérés par vous, sauf en supprimant le contenu qui contient la balise.</p>

                            <h3 translate>Objets partagés localement</h3>

                            <p translate>Les objets partagés localement sont stockés sur votre ordinateur ou votre appareil mobile. Pour apprendre comment gérer les paramètres de confidentialité et de stockage pour les objets locaux partagés, cliquez here.</p>

                            <h3 translate>Stockage web</h3>

                            <p translate>Le stockage web, ou stockage local HTML5, est une technologie de stockage des données conforme aux normes du secteur mise en œuvre	par les fournisseurs de navigateurs Internet. Référez-vous aux contenus d’assistance de votre navigateur pour voir les procédures de gestion des paramètres du stockage web.</p>
                            <h2 translate>Pour quelles raisons EventMboa utilise ces technologies ?</h2>
                            <h3 translate>Essentiel (strictement nécessaire)</h3>

                            <p translate>Nous utilisons ces technologies d'une manière qui est indispensable au fonctionnement de nos Services ou de parties de nos Services. Par exemple, nous pouvons utiliser des cookies pour déterminer l'emplacement de votre trafic pour répartir efficacement la charge de travail du Site sur plusieurs serveurs.</p>

                            <h3 translate>Performances/Analyses</h3>

                            <p translate>Nous utilisons ces technologies pour surveiller nos Services et pour analyser la façon dont vous utilisez nos Services. Par exemple, nous pouvons placer des cookies qui nous (a) permettent de mesurer le temps de vos demandes vers nos serveurs et nos réponses ; (b) pour des tests A / B de nouvelles fonctionnalités ; (c) pour enregistrer des statistiques sur l'utilisation du site ; (d) pour suivre vos activités sur les Services ; et (e) pour suivre les lieux d'où vous accédez aux Services.</p>

                            <p translate>Nous pouvons également utiliser des cookies tiers pour recueillir des informations sur le comportement des visiteurs sur nos Services à des fins de performances/analyses. À titre d'exemple, nous utilisons Google Analytics et Google Analytics Demographics and Interest Reporting. Vous pouvez gérer votre désinscription pour ce fournisseur de services tiers ici :</p>

                            <p translate>• Google Analytics Opt-out Browser Add-on</p>

                            <h3 translate>Fonctionnalité</h3>

                            <p translate>Ces technologies nous permettent de fournir certaines fonctionnalités sur les Services et de mémoriser vos préférences. Par exemple, lorsque vous cliquez sur la case « Se souvenir de moi » sur notre page de connexion, nous plaçons un cookie persistant sur votre navigateur qui permet à nos Services de pré-remplir votre nom d'utilisateur lorsque vous reviendrez. D'autres exemples incluent le rappel de vos préférences (telles que les préférences de langue et d'emplacement), de prévenir les vulnérabilités des applications web, ce qui permet de bénéficier d’intégrations pour Facebook Connect et d’autres tierces parties et à l'occasion de fournir des résultats de recherche</p>

                            <h3 translate>Publicité (y compris publicité comportementale/basée sur les intérêts)</h3>

                            <p translate>Ces technologies nous permettent de vous proposer des publicités sur et en dehors des Services. En utilisant ces technologies, nous espérons mieux adapter ces publicités à vos intérêts. Parfois, on parle de publicité en ligne comportementale, basée sur les intérêts ou reciblée. À compter de la date des présentes, nous utilisons les technologies de Adroll, Chango, Google, Media Math, Perfect Audience, Quantcast, Retargeter et Yahoo! à ces fins. Bon nombre de ces fournisseurs participent à des cadres volontaires qui vous permettent de vous désabonner de ce genre de publicité. Vous pouvez gérer vos désabonnements auprès de ces fournisseurs de services tiers qui participent à ces cadres de désabonnement sur les sites suivants selon votre localisation :</p>

                            <p>
                                <div translate>• Australia</div>
                                <div translate>• Canada</div>
                                <div translate>• EU</div>
                                <div translate>• United States</div>
                            </p>

                            <p translate>En outre, tous ces fournisseurs de services tiers peuvent ne pas participer à tout moment à chaque cadre volontaire, donc nous avons inclus des liens vers leur cadres de désabonnement individuels pour que vous puissiez contrôler vos préférences directement auprès de chaque fournisseur de service tiers :</p>

                            <p>
                                <div translate>• Adroll</div>
                                <div translate>• Rubicon</div>
                                <div translate>• Google</div>
                                <div translate>• Media Math</div>
                                <div translate>• Perfect Audience</div>
                                <div translate>• Quantcast</div>
                                <div translate>• Retargeter</div>
                                <div translate>• Yahoo!</div>
                            </p>
                            <h2 translate>Y a-t-il d'autres utilisateurs de ces technologies sur vos services ?</h2>
                            <p translate>La plupart des cookies et autres technologies décrits ci-dessus sur nos Services sont paramétrés par nos soins (cookies internes) ou sont utilisées en lien avec les Services et paramétrés par les fournisseurs de services tiers selon nos directions (« Cookies tiers »). Nous pouvons utiliser des Cookies tiers pour chacune des utilisations énoncées ci-dessus. Par exemple, nous utilisons des technologies de Google Analytics, Omniture et Mixpanel, entre autres, pour mesurer la performance/les analyses et nous utilisons des technologies de Facebook pour fournir des fonctionnalités Facebook Connect. Occasionnellement, un organisateur peut utiliser des technologies similaires sur ses pages d'événement pour l'une des fins énoncées ci-dessus.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>